node_modules
dist
.env
.terraform
*.tfstate*
coverage
.env.local
apps/web/.env.local
.tools/
infra/terraform/tfplan*
infra/terraform/*.tfplan
services/*/*.zip
/admin.zip
/get-question.zip
/get-ranking.zip
/get-stats.zip
/register-user.zip
/submit-answer.zip
/get-profile.zip
/login.zip
/scan-community.zip
/por-la-cara.zip
/*.zip
